<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <style>
        span{
            display: block;
        }
    
    </style>
</head>
<body>

    <div style="background-color: aqua;">hello</div>
    <div style="background-color: aqua;">hello</div>

    <span style="background-color: aqua;">hello</span>
    <span style="background-color: aqua;">hello</span>

</body>

</html>